body {
  background-color: #ebebeb;
  font-family: "Roboto";
  padding: 10px 25px;
}

button {
  outline: none;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

tr:nth-child(even) {
  background-color: #29d6d6;
}
tr:hover {
  background-color: #0d214f;
  color: white;
}

td {
  text-align: center;
}

table {
  margin: 30px 0px;
  width: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box .add-btn {
  height: 48px;
  padding: 0 30px;
  border-radius: 12px;
  border: none;
  background-color: #29d6d6;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-box .add-btn:hover {
  background-color: #0d214f;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  outline: none;
  animation: fadeIn 0.8s;
}

.add-modal input {
  width: 100%;
}
.add-modal .add-btn {
  background-color: lightgreen;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 8px;
}

.icon-container {
  width: 80px;
}
.icon-container i {
  margin: auto;
  cursor: pointer;
}
.icon-container i:hover {
  color: aqua;
}

.confirm-modal-header {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
}
.confirm-modal-header h2 {
  margin: 0px;
}
.confirm-modal-header i {
  color: darkorange;
}
.confirm-modal-body {
  display: flex;
  flex-flow: column;
}
.confirm-modal-body .btn-box {
  justify-content: space-around;
  display: flex;
}
.confirm-modal-body .btn-box .ok-btn {
  background-color: lightgreen;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.confirm-modal-body .btn-box .ok-btn:hover {
  font-weight: bold;
  width: 66px;
  height: 33px;
}
.confirm-modal-body .btn-box .cancel-btn {
  background-color: lightcoral;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: none;
  transition: all 0.4s ease;
}
.confirm-modal-body .btn-box .cancel-btn:hover {
  font-weight: bold;
  width: 66px;
  height: 33px;
}

.edit-modal input {
  width: 100%;
}
.edit-modal .edit-btn {
  background-color: lightgreen;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 8px;
}

.hidden-snackbar {
  background-color: lightgreen;
  width: 300;
  height: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -300px;
  bottom: 20;
  transition: all 0.3s ease;
}

.visible-snackbar {
  background-color: lightgreen;
  border-radius: 4px;
  width: 300;
  height: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20;
  bottom: 20;
  transition: all 0.3s ease;
}

.pagination-container .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pagination-container .pagination .active {
  border: 1px solid aqua;
  border-radius: 50%;
}
.pagination-container .pagination .disable-btn {
  pointer-events: none;
  opacity: 0.5;
}
.pagination-container .pagination .next,
.pagination-container .pagination .perv {
  font-size: 28px;
}
.pagination-container .pagination li {
  margin: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.pagination-container .pagination li:hover {
  background-color: aqua;
  border-radius: 50%;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}