body {
  background-color: #ebebeb;
  font-family: "Roboto";
  padding: 10px 25px;
}

tr:nth-child(even) {
  background-color: #29d6d6;
}
tr:hover {
  background-color: #0d214f;
  color: white;
}

td {
  text-align: center;
}

table {
  margin: 30px 0px;
  width: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box .add-btn {
  height: 48px;
  padding: 0 30px;
  border-radius: 12px;
  border: none;
  background-color: #29d6d6;
  font-weight: bold;
  cursor: pointer;
}
.header-box .add-btn:hover {
  background-color: #0d214f;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
}

.add-modal input {
  width: 100%;
}
.add-modal .add-btn {
  background-color: lightgreen;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 8px;
}

.icon-container {
  width: 80px;
}
.icon-container i {
  margin: auto;
  cursor: pointer;
}
.icon-container i:hover {
  color: aqua;
}

.confirm-modal-header {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
}
.confirm-modal-header h2 {
  margin: 0px;
}
.confirm-modal-header i {
  color: darkorange;
}
.confirm-modal-body {
  display: flex;
  flex-flow: column;
}
.confirm-modal-body .btn-box {
  justify-content: space-around;
  display: flex;
}
.confirm-modal-body .btn-box .ok-btn {
  background-color: lightgreen;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.confirm-modal-body .btn-box .ok-btn:hover {
  font-weight: bold;
  width: 66px;
  height: 33px;
}
.confirm-modal-body .btn-box .cancel-btn {
  background-color: lightcoral;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: none;
  transition: all 0.4s ease;
}
.confirm-modal-body .btn-box .cancel-btn:hover {
  font-weight: bold;
  width: 66px;
  height: 33px;
}