body {
  background-color: #ebebeb;
  font-family: "Roboto";
  padding: 10px 25px;
}

tr {
  &:nth-child(even) {
    background-color: #29d6d6;
  }

  
  &:hover {
    background-color: #0d214f;
    color: white;
  }
}
td {
  text-align: center;
}

table {
  margin: 30px 0px;
  width: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .add-btn {
    height: 48px;
    padding: 0 30px;
    border-radius: 12px;
    border: none;
    background-color: #29d6d6;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #0d214f;
      color: white;
    }
  }
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  outline: none;
  animation: fadeIn 0.8s;
}

.add-modal {
  input {
    width: 100%;
  }
  .add-btn {
    background-color: lightgreen;
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 8px;
  }
}

.icon-container {
  width: 80px;
  i {
    margin: auto;
    cursor: pointer;
    &:hover {
      color: aqua;
    }
  }
}

.confirm-modal {
  &-header {
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0px;
    }
    i {
      color: darkorange;
    }
  }
  &-body {
    display: flex;
    flex-flow: column;

    .btn-box {
      justify-content: space-around;
      display: flex;

      .ok-btn {
        background-color: lightgreen;
        border: none;
        width: 60px;
        height: 30px;
        border-radius: 8px;
        transition: all 0.4s ease;

        &:hover {
          font-weight: bold;
          width: 66px;
          height: 33px;
        }
      }
      .cancel-btn {
        background-color: lightcoral;
        width: 60px;
        height: 30px;
        border-radius: 8px;
        border: none;
        transition: all 0.4s ease;
        &:hover {
          font-weight: bold;
          width: 66px;
          height: 33px;
        }
      }
    }
  }
}

.edit-modal {
  input {
    width: 100%;
  }
  .edit-btn {
    background-color: lightgreen;
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 8px;
  }
}

.hidden-snackbar {
  background-color: lightgreen;
  width: 300;
  height: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -300px;
  bottom: 20;
  transition: all 0.3s ease;
}

.visible-snackbar {
  background-color: lightgreen;
  border-radius: 4px;
  width: 300;
  height: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20;
  bottom: 20;
  transition: all 0.3s ease;
}

.pagination-container {
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;

    .active{
      border: 1px solid aqua;
      border-radius: 50%;
    }
    .next,
    .perv {
      font-size: 28px;
    }
    li {
      $size: 35px;
      margin: 2px;
      width: $size;
      height: $size;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      &:hover {
        background-color: aqua;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
