<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Contacts</title>
</head>

<body>
    <div id="my-app" class="contact-app">


        <!-- Header -->
        <div class="header-box">
            <h1>Contacts</h1>
            <button class="add-btn" @click="addModalClicked">Add New Contact</button>
        </div>


        <!-- Table -->
        <div class="contact-list">
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Family</th>
                    <th>Phone</th>
                    <th>Emial</th>
                </tr>
                <tr v-for="(item,index) in contacts" :key="index">
                    <td>{{(page -1)*pageSize+1+index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.family}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>

                    <td class="icon-container"><i class="material-icons" @click="showContact(item.id)">edit</i></td>
                    <td class="icon-container"><i class="material-icons" @click="delteIconClicked(item.id)">delete</i>
                    </td>
                </tr>

            </table>
        </div>


        <!-- Pagination -->
        <div class='pagination-container'>
            <nav>
                <ul class="pagination">

                    <li class="perv" :class="page === 1 ? 'disable-btn' : ''" @click="GetData(page-1,pageSize)">&#60;
                    </li>

                    <li v-for="count in pageCount" @click="GetData(count ,pageSize)"
                        :class="(page == count) ? 'active' :'' ">{{count}}</li>


                    <li class="next" :class="page == pageCount ? 'disable-btn' :''" @click="GetData(page+1 ,pageSize)">
                        &gt;</li>


                </ul>
            </nav>
        </div>



        <!-- Modals -->
        <div>
            <div class="overlay" v-if="showOverlay" @click="overlayClicked"></div>

            <!-- Add Modal -->
            <div class="modal add-modal" v-if="addModal">

                <div>
                    <h2 style="margin-top: 0;">Add Contact</h2>
                </div>
                <hr>
                <br>
                <label>Name : <br><input placeholder="Parnia" v-model="name" type="text"> </label><br><br>
                <label>Family : <br><input placeholder="Maroofi" v-model="family" type="text"> </label><br><br>
                <label>Phone : <br><input placeholder="09221264075" v-model="phone" type="number"> </label><br><br>
                <label>Email : <br><input placeholder="pari@gmail.com" v-model="email" type="text"> </label><br><br>
                <button class="add-btn" v-on:click="addNew" :disabled="isEmpty">Add</button>

            </div>

            <!-- Edit Modal -->
            <div class="modal edit-modal" v-if="editModal">
                <div>
                    <h2>Edit Contact</h2>
                </div>
                <hr>
                <br>
                <label>Name : <br><input placeholder="Parnia" v-model="name" type="text"> </label><br><br>
                <label>Family : <br><input placeholder="Maroofi" v-model="family" type="text">
                </label><br><br>
                <label>Phone : <br><input placeholder="09221264075" v-model="phone" type="number">
                </label><br><br>
                <label>Email : <br><input placeholder="pari@gmail.com" v-model="email" type="text">
                </label><br><br>
                <button class="edit-btn" @click="editContact"
                    :style="isEmpty ? 'pointer-events: none; opacity: 0.5' : ''">Edit</button>

            </div>

            <!-- Confirm Modal -->
            <div class="modal confirm-modal" v-if="confirmModal" @keyup.enter="deleteContact()" tabindex="0">
                <div class="confirm-modal-header">
                    <h2>Warning</h2>
                    <i class="material-icons">warning</i>
                </div>
                <hr>
                <div class="confirm-modal-body">

                    <p>Are you sure you want to delete this record?</p>
                    <div class="btn-box">
                        <button class="cancel-btn">No</button>
                        <button class="ok-btn" @click="deleteContact()">Yes</button>
                    </div>
                </div>
            </div>

        </div>


        <!-- Snackbar -->
        <div id="Snackbar" :class="snackbar ? 'visible-snackbar' : 'hidden-snackbar'">
            <p>{{this.message}} </p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/app.js"></script>
</body>

</html>