<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact</title>
    <link rel="stylesheet" href="../css/new.css">
</head>
<body>
    <h2>New Contact</h2>
    <div id="new-app" class="container">
        <label >Name : <input v-model="name" type="text"> </label><br>
        <label >Family : <input v-model="family" type="text"> </label><br>
        <label >Phone : <input v-model="phone" type="text"> </label><br>
        <label >Email : <input v-model="email" type="text"> </label><br>
        <button v-on:click="addNew">Add</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/new.js"></script>
</body>
</html>